/* homepage styling */ 
body.homepage {
    background-image: url("/images/background.jpg"); 
    background-size: cover; /* Make the image cover the whole viewport */
    background-position: center center; /* Center the image */
    background-attachment: fixed; /* Keep the image fixed when scrolling */
    height: 100vh; /* Ensure the body takes the full viewport height */
  }

  a.home{ 
    color: black;
    font-family: "Expose-Regular", Arsenal; 
    letter-spacing: 4px;
    font-size: 4em;
    text-decoration: none; 
    transition: transform 0.3s ease; 
  }

  a.home:visited{
    color: black;
    font-family: "Expose-Regular", Arsenal; 
    letter-spacing: 4px;
    font-size: 4em;
    text-decoration: none; 
    transition: transform 0.3s ease; 
  }

  ul{ 
    list-style-type: none;
  }

/* Link Hover Animations */ 

a:hover{ 
    transform: rotate(6deg); 
    transform: scale(1.2); 
  }

/* GAMES PAGE STYLING */ 
body { 
  background-color: black; 
  background-image: url("/images/bg_red_line_01b044042d3de0bf2fa64ba808a727f6.png"), url("/images/bg_red_dot_d849572b3f0934e660bdd7b972b54869.png"); 
  background-size: cover; 
  height: 100vh; 
}

nav.games, nav.about{ 
  display: flex; 
  justify-content: flex-end; 
  padding: 30px; 
}

a{
  text-decoration: none; 
  color: white;
  font-family: "Arsenal"; 
}

a:visited{
  text-decoration: none; 
  color: white;
  font-family: "Arsenal"; 
}

a.games, a.about{ 
  color: white; 
  font-family: "Expose-Regular", "Arsenal"; 
  letter-spacing: 4px;
  font-size: 3em;
  text-decoration: none; 
  transition: transform 0.3s ease; 
}

li.games, a.about{ 
  padding: 0; 
  margin-right: 30px; 
  display: flex; 
}

li.home{
  padding: 0; 
  display: flex; 
}

h1{ 
  color: white; 
  font-family: "Expose-Regular", "Arsenal"; 
  letter-spacing: 4px; 
  font-size: 5em;
  text-align: center; 
}

p{ 
  color: white; 
  font-family: "Arsenal", sans-serif; 
  font-size: 2em; 
  text-align: center; 
}

p.individual{ 
  color: white; 
  font-family: "Arsenal", sans-serif; 
  font-size: 2em; 
  text-align: center; 
  padding: 0 100px; 
}


p.about{ 
  color: white; 
  font-family: "Arsenal", sans-serif; 
  font-size: 2em; 
  text-align: center; 
  margin-left: auto; 
  margin-right: 0; 
  padding: 0 100px; 
  background-color: #00000033;
}


/* Image & Figure styling */ 
@media screen and (min-width: 400px){

  figure{ 
    color: white; 
    font-family: "Arsenal", sans-serif; 
    font-size: 2em;  
    padding: 20px; 
    text-align: center; 
  }

  img{
    border: 2px solid gold; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Adds shadow to the border */
    transition: transform 0.3s ease; 
    margin-left: auto; 
    margin-right: auto; 
	}

  img:hover{ 
    transform: scale(1.1); 
  }

  /* YouTube Embed STYLING */ 
iframe { 
  border: 2px solid gold; 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Adds shadow to the border */
}

section#game-trailer{ 
  display: grid;
	justify-content: center; 
	align-content: center; 
	grid-template-rows: auto; 
	padding: 100px; 
}

h1.about{ 
  text-align: right;
}
}

@media (min-width: 1440px) { 

section#game-gallery{ 
  display: grid;
	justify-content: center; 
	align-content: center; 
	grid-template-columns: 30% 30% 30%; 
	grid-template-rows: auto; 
	padding: 100px; 
}

  /* YouTube Embed STYLING */ 
  iframe { 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 660px; 
    height: 415px; 
    border: 2px solid gold; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Adds shadow to the border */
  }

  section#about{ 
    display: grid;
    justify-content: right; 
    align-content: right; 
    grid-template-columns: 25% 50%; 
    grid-template-rows: auto; 
    padding: 50px; 
  }

  h1.about{ 
  text-align: right;
  padding-right: 200px; 
}
}

/* ABOUT PAGE STYLING */ 
body.about {
  background-image: url("/images/about.jpeg"); 
  background-size: cover; /* Make the image cover the whole viewport */
  background-position: center center; /* Center the image */
  background-attachment: fixed; /* Keep the image fixed when scrolling */
  height: 100vh; /* Ensure the body takes the full viewport height */
}

h1.about{ 
  text-align: right;
  padding-right: 200px; 
}

/* FONT DEFINITIONS */ 

  nav.home{ 
    display: grid;            /* Turn the parent container into a grid */
    place-items: center;      /* Center content both horizontally and vertically */
    grid-template-columns: auto;
    height: 100vh; 
  }
 
  /* font definitions */ 
  .arsenal-regular {
    font-family: "Arsenal", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

/* Define the Regular weight of the font */
@font-face {
  font-family: "Expose-Regular";
  src: url("/fonts/Expose-Regular.otf") format('otf'); 
  font-weight: normal;
  font-style: normal;
}

	/* Focus Elements */
	*:focus{
		border: 2px solid #ff0000;
	} 

@media screen and (prefers-reduced-motion: reduce){
	
	html{
		scroll-behavior: auto; 
	}

	nav a:hover{
		transition: none;
		text-transform: none;
	}

	img:hover{ 
		transform: none; 
	}
}
